body {
  text-align: center;
  font-family: "Oxygen", sans-serif;
}

h1 {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: 225%;
}

p {
  text-align: center;
}

.bottom-cloud {
  position: absolute;
  left: 10%;
  width: 20%;
}

.top-cloud {
  position: absolute;
  left: 70%;
  width: 20%;
  top: 10%;
}

.mountain {
  width: 70%;
  margin: 0 auto;
}

.pro {
  text-decoration: underline;
}

/* containers */

.top-container {
  background-color: #e9b2bc;
  margin-top: 0px;
  color: white;
  position: relative;
  padding-top: 100px;
  text-align: center;
}

.middle-container {
  width: 200px;
  height: 200px;
  background-color: #e1f2fb;
}

.bottom-container {
  width: 200px;
  height: 200px;
  background-color: #f3dfe3;
}
